/***********Common*********/
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;900&display=swap');

body {
  font-size: 1rem;
  font-family: 'Hanken Grotesk', sans-serif;
}

.wrapper button:focus {
  outline: 0;
  box-shadow: none;
}

.wrapper .form-control {
  background: #EDFEEC;
}

.wrapper .form-control:focus {
  background-color: #fff;
  box-shadow: none;
}

.wrapper label.form-label {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #333333;
}

.box-shadow {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-30 {
  font-size: 1.75rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem
}

.fs-48 {
  font-size: 3rem;
}

.fs-64 {
  font-size: 4rem;
}

.cursor-pointer {
  cursor: pointer;
}

.primary-bg {
  background-color: #07352E;
}

.black-bg {
  background-color: #000000;
}

.lightorange-bg {
  background-color: #FFF9E9;
}

.secondary-bg {
  background-color: #80CB7B;
}

.gray-bg {
  background-color: #F2F2F2;
}

.lightgreen-bg {
  background-color: #99D595;
}

.primary-text {
  color: #07352E;
}

.secondary-text {
  color: #549650;
}

.tertiary-text {
  color: #828282;
}

.gray-text {
  color: #4f4f4f;
}

.darkgray-text {
  color: #333333;
}

.red-text {
  color: #FA2121;
}

.blue-text {
  color: #2F80ED;
}

.black-text {
  color: #000;
}

.wh-82 {
  width: 82px;
  height: 82px;
  min-width: 82px;
  min-height: 82px;
}

.wh-60 {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
}

.min-wh-20 {
  min-width: 20px;
  min-height: 20px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.primarybtn {
  padding: 15px 50px 15px 50px;
  font-size: 24px;
  font-weight: 600;
}

.borderrad10 {
  border-radius: 10px;
}

.text-justify {
  text-align: justify;
}

/***********Common*********/
/***********Header*********/
.header ul li a {
  color: #07352E;
  font-weight: 700;
  margin-left: 36px;
  font-size: 24px;
  padding: 30px 0 30px 0;
}

.header ul li:first-child a {
  margin-left: 0;
}

.header ul li a:focus,
.header ul li a:hover,
.header ul li a:active,
.header ul li.active a {
  color: #80CB7B;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url('../images/hamburger.svg');
}

.navbar-toggler .navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url('../images/close.svg');
}

/***********Main*********/
.main {
  margin-top: 100px;
}

h2.topHeading {
  font-size: 42px;
  font-weight: 900;
  margin: 50px 0;
}

.subheading {
  font-size: 24px;
  font-weight: 500;
}

.iframeTextdata {
  background: #FFFFFF;
  border-radius: 10px;
}

/*.iframeTextdata .iframedata {overflow: hidden;}*/
.iframeTextdata .iframedata iframe {
  border-radius: 10px;
}

/***********Empower and Image top*********/
/*.headertopBanner {
  background-image: url(../images/bannertop.svg);
  background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}*/
.headertopBanner .roundicontextdata {
  font-size: 24px;
  margin-bottom: 30px;
}

.headertopBanner .roundicontextdata .roundicon .roundiconamount {
  background-color: #00383D;
  font-weight: 900;
}

.headertopcard {
  margin: 65px 0;
}

.headertopBanner .roundicontextdata .textdata {
  font-weight: 500;
  line-height: 1;
}

.headertopBannerright.bannertopimage:before,
.headertopBannerright.bannertopimage:after {
  position: absolute;
  content: '';
  background: #549650;
}

.headertopBannerright.bannertopimage:before {
  width: 60px;
  height: 60px;
  left: -25px;
  top: -25px;
}

.headertopBannerright.bannertopimage:after {
  width: 70px;
  height: 110px;
  right: 0px;
  bottom: -35px;
}

/********Map graph*******/
.mapgraph .imgamounttext .amounttext .amount {
  font-size: 40px;
}

.mapgraph .imgamounttext .amounttext .text {
  font-size: 20px;
}

.mapgraph .imgamounttext .imgleft img {
  min-width: 20px;
}

.mapgraph .imgamounttext {
  background: #EDFFEC;
  border: 1px solid #D1FDCF;
}

/********Farmers*******/
.farmers {
  min-height: 100%;
  background: url(../images/farmerbg.svg);
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(128, 203, 123, 0.9);
}

.farmercards {
  position: relative;
  width: 100%;
  min-height: 300px;
  padding: 40px 50px;
  text-align: left;
}

.farmercards img {
  max-width: 100%;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 0;
  display: inline-block;
  z-index: 1;
  position: relative;
}

.farmercards .description {
  padding: 20px 0;
}

.farmercards .farmerimgs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -55px;
  margin: 0 auto;
  text-align: center;
}

/********Investor*******/
.investors .topHeading {
  color: #07352E
}

.investors .owl-carousel .item {
  min-height: 200px;
  min-width: 200px;
}

.investors .owl-carousel .item .iteminner img {
  max-width: 150px;
}

/********Reachout*******/
.reachout .maillocation p,
.reachout .maillocation h5 {
  color: #333333;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 250px;
  width: 100%;
  max-width: 450px;
}

.gmap_canvas {
  overflow: hidden;
  background: none;
  height: 250px;
  width: 100%;
  max-width: 450px;
}

.reachout form {
  padding: 50px;
}

/********Investor*******/

/***********Footer*********/
.wrapper .fixed-bottom.footer {
  position: relative;
}

.footer ul li {
  margin-bottom: 30px;
}

.footer ul li.ms-36 {
  margin-left: 20px;
}

.footer ul.termspolicy li a,
.footer ul.termspolicy li a:hover,
.footer ul.termspolicy li a:focus,
.footer ul.termspolicy li a:active {
  color: #80CB7B;
}

.footer ul li a {
  color: #80CB7B;
  font-weight: 400;
  font-size: 18px;
}

.footer ul li a:hover,
.footer ul li a:focus,
.footer ul li a:active {
  color: #fff;
}

.footer ul.termspolicy li a {
  color: #fff;
}

/*******Margin**********/
.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ms-36 {
  margin-left: 36px;
}

/*******Padding**********/
.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

/*******About**********/

.about-us .img-two {
  left: 65px;
  position: relative;
  z-index: -1;
  top: -90px;
}

.about-us .img-four {
  position: absolute;
  right: 67px;
  bottom: -80px;
}

.about-us .model-section {
  margin-top: 50px;
}

.details-box {
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.details-box .img-box {
  min-height: 230px;
  overflow: hidden;
  max-height: 230px;
  margin-bottom: 30px;
}

.space-box {
  padding: 20px;
}

.white-bg {
  background: #FFFFFF;
  box-shadow: 0px -2px 9px rgba(7, 53, 46, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.round-imge {
  border-radius: 50%;
  min-height: 150px;
  min-width: 150px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.number-box {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  min-width: 56px;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 900;
  font-size: 32px;
  position: absolute;
  right: -20px;
  top: -20px;
}

.right-align {
  position: relative;
  right: -140px;
  top: -30px;
}

.secondary-bg-space {
  padding: 60px 0;
}

.subtract {
  /* background: #07352E; */
  min-width: 294px;
  min-height: 294px;
  width: 294px;
  height: 294px;
  overflow: hidden;
}

.about-footer {
  padding: 100px 20px;
}

/*******JOb**********/
.applyjob .applyjobform .applyjobformlabel label {
  min-width: 110px;
  text-align: right;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}

.applyjobform .upload-btn-wrapper input[type=file] {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.form-group.customcheckbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group.customcheckbox label {
  position: relative;
  cursor: pointer;
}

.form-group.customcheckbox label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7.5px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  background: #F3F3F3;
  border: 1px solid #828282;
}

.form-group.customcheckbox input:checked+label:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 5px;
  height: 9px;
  border: solid #07352E;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}



/*******JOb**********/

/*******career**********/

.career-img {
  width: 350px;
  min-width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.career-img:after {
  content: "";
  position: absolute;
  background: url("./../images/shape.svg");
  background-position: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

a:hover {
  transition: all ease-in-out 0.3s;
  color: #80CB7B;
}

.team .card.details-box .media img {
  width: 61px;
  min-width: 61px;
  height: 61px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/*******career**********/

/* Story Page */
.story .story-banner {
  background-image: url(../images/story-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 530px;
  position: relative;
}

.story .story-banner-title {
  color: #fff;
  padding: 2px 38px;
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.story .light-gray-bg {
  background: #F2F2F2;
  padding: 40px 0;
}

.story .story-bord {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
}

.story .story-bord h4 {
  color: #00383D;
  font-weight: 900;
  line-height: 31px;
}

.story-bord {
  margin-bottom: 20px;
}

.story-details-banner img {
  margin: 0 auto;
  display: block;
}

.hindi-title {
  display: inline-block;
  margin-left: 30px;
}

.story-details-banner .story-banner-title {
  position: relative;
  padding: 2px 14px;

}

.story-details-banner .story-banner-title span {
  display: block;
}

.ml-35 {
  margin-left: 35px;
}

/* Story Page */



/*******Media**********/
@media(max-width:1399px) {
  .about-us .img-four {
    right: 22px;
  }

  .hindi-title {
    display: inline-block;
    margin-left: 0;
  }
}

@media (max-width:1199px) {
  .header ul li a {
    margin-left: 25px;
  }

  .right-align {
    position: relative;
    right: 0;
    top: 20px;
  }
}

@media (max-width:992px) {
  .story-details-banner .story-banner-title.fs-36 {
    font-size: 20px;
  }

  .header ul li a {
    margin-left: 0;
    padding-bottom: 0;
  }

  .headertopBannerright.bannertopimage:before,
  .headertopBannerright.bannertopimage:after {
    content: unset;
  }

  .number-box {
    right: inherit;
    top: -20px;
    left: -21px;
  }

  .about-footer {
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(10, 10, 10, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 40px 20px;
    margin: 50px 0;
  }

  .white-bg {
    margin-top: 25px;
  }

  .round-imge {
    min-height: 45px;
    min-width: 45px;
    width: 45px;
    height: 45px;
  }

  .subtract {
    margin: 0 auto;
  }

  .secondary-bg-space {
    padding: 60px 30px;
  }
}

@media (max-width:768px) {
  .iframeTextdata .iframedata {
    position: relative;
    padding-top: 56.7%;
  }

  .iframeTextdata .iframedata iframe {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

@media(max-width:767px) {
  .story .story-banner {
    background-position: center;
  }
}

@media (max-width:575px) {
  .footer .footerlinks {
    margin-left: 10px;
  }

  .details-box .img-box {
    margin-bottom: 0;
  }

  .headertopcard {
    margin: 15px 0;
  }

  .investors .owl-carousel .item {
    min-height: 150px;
    min-width: 150px;
    box-shadow: none;
  }

  .applyjob .applyjobform .applyjobformlabel label {
    text-align: left;
  }

  .reachout form {
    padding: 1.5rem;
  }

}